@{
    ViewBag.Title = "HW8";
}

<div class="jumbotron">
    <h1><center>Welcome To Our Store</center></h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
        <img src="images/petstorepic.jpg" style="width:304px;height:228px;">
        </p>

    </div>
    <div class="col-md-8">
        <h2>About Us</h2>
        <p>We specialize in, live coral reef aquaria, freshwater fish, hand fed baby birds, and many dog breeds. We design and install custom aquariums for the home or office 
        and have several certified pet specialists on staff to answer all of your questions. We offer many specialty 
        books describing how to care for any pet you are interested in.</p>
    </div>

</div>